/* style.css */
body{

    background-image: url(https://cdn.discordapp.com/attachments/1167664471821537320/1246715574264791140/Tambahkan_subjudul_20240602_074401_0000.png?ex=665d65db&is=665c145b&hm=789d9dc49750b61147a90b8acb311c969213f6603a897d770195a2361bfebc30&);

    background-repeat: no-repeat;

    background-position: center;

    background-attachment: fixed;

    background-size: cover;

}